.textbar-wrapper {
  position: relative;
  .text_box-suggestion--wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    left: 8px;
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    width: 250px;
    .text_box-suggestion--text {
      cursor: pointer;
      color: black;
      padding: 5px;
      border-bottom: solid 1px rgba(153, 153, 153, 0.2);
    }
  }
}
